<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIDER UN COMPOSANT</title>
</head>
<body>
    <h1>VIDER UN COMPOSANT</h1>
    <form action="/vider_emplacement" method="POST">
        <label for="allee">Allée :</label>
        <input type="text" id="allee" name="allee" required><br><br>
        
        <label for="emplacement">Emplacement :</label>
        <input type="text" id="emplacement" name="emplacement" required><br><br>
        
        <button type="submit">VALIDER</button>
    </form>
</body>
</html>
